body {
  margin: 20px 20%;
  background-color: rgb(221, 214, 229);
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

#naimur-rahman {
  display: block;
}

#first-section {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
